:root {
    --bs-font-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.table thead th.sortable {
    white-space: nowrap;
}

.table tr td {
    white-space: nowrap;
    font-weight: 500;
}

.table tr.text-danger td {
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}
.table tr.text-warning td {
    color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}
.table tr.text-success td {
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}
html[data-bs-theme="dark"] .table tr.table-dark td {
    background-color: var(--bs-secondary-bg) !important;
}

.table .font-monospace pre {
    margin-bottom: 0;
    font-size: 0.875rem;
    white-space: pre-wrap;
    font-weight: 400;
}

.table tr.border-0 td {
    border-bottom-width: 0;
    padding-bottom: 0;
}

.table tr.comment-row td {
    padding-top: 0;
}

.table tr.border-0.comment-row td {
    padding-bottom: 0;
}

.btn-status {
    min-width: 5rem;
    --bs-btn-padding-y: 0.125rem;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-font-size: 0.825rem;
    --bs-btn-border-radius: 0.25rem;
    --bs-btn-font-weight: 300;
}
.btn-status-comments {
    --bs-btn-padding-y: 0.125rem;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-font-size: 0.75rem !important;
    --bs-btn-border-radius: 0.25rem;
    --bs-btn-font-weight: 300;
}

/*tr:hover .btn-status {*/
/*    color: var(--bs-btn-hover-color);*/
/*    background-color: var(--bs-btn-hover-bg);*/
/*    border-color: var(--bs-btn-hover-border-color);*/
/*}*/

html[data-bs-theme="dark"] .btn-outline-dark {
    --bs-btn-border-color: var(--bs-secondary-color);
    --bs-btn-color: var(--bs-secondary-color);
}

.bg-purple {
    background-color: var(--bs-indigo);
}
.btn-purple {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-indigo);
    --bs-btn-border-color: var(--bs-indigo);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-indigo);
    --bs-btn-hover-border-color: var(--bs-indigo);
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-indigo);
    --bs-btn-active-border-color: var(--bs-indigo);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-indigo);
    --bs-btn-disabled-border-color: var(--bs-indigo);
}
.badge + .badge {
    margin-left: 0.25rem;
}
